# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Firebase config
frontend/src/lib/firebase.ts


# Firebase config
# (Si trabajas en equipo y quieres que todos tengan el mismo proyecto, comenta esta línea)
# .firebaserc

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output

# Security Reports
security/*.html
security/*.json
security/*.md
security/*.xml
!security/README.md
!security/zap-config.conf

# Allure Reports
allure/allure-results/
allure/allure-report/
allure/history/
!allure/README.md

# Grunt / Bower / Legacy
.grunt
bower_components

# Node / JS build
node_modules/
build/
build/Release

# Package managers cache
.npm
.yarn-integrity

# Lint / test caches
.eslintcache

# REPL
.node_repl_history

# Bundled outputs
*.tgz

# Environment
.env
*.local

# Dataconnect
.dataconnect

# Editor/IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
desktop.ini

# Dist outputs (se asegura que ningún build se suba)
dist/
dist-ssr/
